# SAC requirements
gymnasium[classic_control,other]
torch
numpy
progressbar
matplotlib
IPython

# llm requirements
google-genai

# hockey environment
git+https://github.com/martius-lab/hockey-env.git
